body {
  background:url(/images/background.jpg); // 可以是路径也可以是链接
  background-repeat: no-repeat; // 不重复
  background-attachment:fixed; // 固定住背景图片
  background-position:50% 50%; // 图片位置：居中
  background-size: 100% 100%; // 图片长宽扩充为100%
}

.main-inner {
  background: rgba(255, 255, 255, 0);
}

.post-block{
  background-color: rgba(255, 255, 255, 1);
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 20px;
  //border-radius: 30px 30px 30px 30px;
  box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
}


